<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1 class="text-primary text-center mt-5">Sobre mi</h1>
        <p class="text-center m-5">Hola! mi nombre es Fabricio Cantos. Soy un apasionado
            por la tecnologia, tambien soy musico y estoy aprendiendo
            a dibujar.... El arte es mi otra pasion por eso me preparo
            para convinar mis dos pasiones, el dise単o, el arte digital,
            la electronica me llaman la atencion desde muy peque単o y
            ahora me puedo dedicar a estas modalidades.... paso todo
            el dia frente a mi ordenador, no soy mucho de irme de fiesta
            por decir nada, soy ecuatoriano y hace 6 a単os que vivo en barcelona
            donde encontre muchas oportunidades por eso ahora a mis 29
            a単os he decidido a que me voy a dedicar por el resto de mi vida...Saludos
        </p>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
      </footer>
</body>
</html>