<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <style>
        .titulo{
            text-align: center ;
            font-size: 150px;
            margin: 20px;
        }
    </style>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
        <img src="Captura de pantalla 2023-03-06 220809.png" alt="">
        <div class="container">
            <h1 class="titulo">longboarding</h1>
            <img class="img-fluid" src="tablasDeLongboard.jpg" alt="tablas de longboard">
            <p style="text-align: right; font-size: 40px;">
                En este blog hablaremos sobre el longboarding y su destreza, trucos y spots.
            </p>
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/67Sb3M8GQwQ" frameborder="0" allowfullscreen></iframe>
            <h2>Derrapes</h2>
                <p>Los derrapes consisten en derrapar mientras te deslizas por el asfalto ya sea poiendo el guante en el suelo para mantener el equilibrio o sin manos en el suelo sin caer</p>
            <h3>StandUp</h3>
                <p>Consiste en derrapar estando casi estirado, estirado o un poco acunclillado...Todo dependera de tu nivel o estilo teniendo dos derrapes que son el frontside y el toeside</p>
                <h4>Frontside</h4>
                    <p>El fronside consiste en derrapar de manera frontal, osea mirando hacia al frente estando de pie un poco agachado o totalmente con el cuerpo erguido</p>
                <h4>Toeside</h4>
                    <p>El toeside es donde comienza la dificulta de los derrapes ya que el derrape se hace de espalda y si llegaras a caer podrias hacerte mucho daño</p>
            <h3>180</h3>
                <p>El 180 es un derrape donde el objetivo es dar un giro quedando tu cuerpo en la direccion contraria pero rodando en el mismo sentido de la marcha claro esta ya que en una cuesta abajo no podras dar marcha atras claro esta</p>
            <h3>Scuad</h3>
                <p>El scuad es un derrape parecido al frontside pero en este caso como lo dice su nombre el cuerpo debe estar en scuad, practicamente agachado mirando alfrente</p>
            <h3>Toeside Grap</h3>
                <p>El toeside grap vendria siendo lo contrario del escuado, es como una convinacion de toeside y scuad solo que agarrando la tabla por un lado</p>
            <h3>Predrif</h3>
                <P>El predirf es como un toesidegrap solo que en vez de agarrar la tabla por un lado, la mano debera ir apoyada al suelo</P>
            <h3>Coleman</h3>
                <p>El coleman podriamos decir que es el derrape mas facil de todos, por lo general siempre se empieza aprendiendo este derrape que siver mucho para freno de emergencia tanto como para reducir la velocidad antes de entrar en una curva</p>
            <h3>Equipo</h3>
                <h4>Cascos</h4>
                <h4>Rodilleras/Coderas</h4>
                <h4>Tablas</h4>
                <h4>Ruedas</h4>
                <h4>ejes</h4>
                <h4>Bushing</h4>
        </div>
    <footer>
        <%- include('../partials/footer'); %>
    <footer>
</body>
</html>