<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h1 class="text-center m-2">Mis proyectos</h1>
<div class="content">
    <ul class="list-group">
        <li class="list-group-item text-center"><a href="crud">CRUD con express y mysql</a></li>
        <li class="list-group-item text-center"><a href="calculadorajs">Calculadora con javascript</a></li>
        <li class="list-group-item text-center"><a href="carousel">Carousel con javascript</a></li>
        <li class="list-group-item text-center"><a href="blogLongboard">Blog de longboarding</a></li>
        <li class="list-group-item text-center"><a href="leds">Leds numeros Css</a></li>
    </ul>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>