<header>
    <nav class="navbar navbar-dark bg-dark">
        <h1>Mi-pagina-web</h1>
        <div>
            <ul class="text-primary">
                <li><a href="contacto">Contacto</a></li>
                <li><a href="about">Acerca de mi</a></li>
                <li><a href="/">Proyectos</a></li>
            </ul>
        </div>
    </nav>
</header>